tensorflow==2.15.0
keras==2.15.0
deepface==0.0.79
opencv-python
numpy
pandas
matplotlib
scikit-learn

flask
openai
openai-whisper
gTTS
librosa
soundfile
moviepy
requests
gtts 
google-generativeai
flask-cors
